@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

h1 {
    font-size: 80px;
    margin: 0;

    @include breakpoint('mobile-portrait') {
        font-size: 50px;
    }

    &.charm {
        font-family: 'Parisienne';
        line-height: 100%;
    }
}

h2 {
    font-size: 30px;
    margin: 0 0 10px 0;

    &.charm {
        font-family: 'Parisienne';
        line-height: 100%;
    }
}

p {
    margin: 0 0 12px 0;
}

a {
    color: #2C3E50;
    text-decoration: none;

    &:hover {
        color: #2C3E50;
        text-decoration: underline;
    }
}
