header {
  height: 60px;
  width: 100%;
  background-color: rgba(255,255,255,0.90);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  a.brand {
    display: block;
    height: 100%;
    width: 200px;

    &:hover {
      text-decoration: none;
    }

    img {
      height: 50px;
      margin-top: 5px;
      float: left;
    }

    span {
      display: block;
      line-height: 60px;
      margin-left: 60px;
      font-size: 40px;
      font-family: Quicksand;
    }
  }

  ul {
    display: flex !important;
    margin: 14px 0;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 0;
  }

  li {
    list-style: none;
    padding: 0;
    border-right: 1px solid $color;
    padding: 5px 10px;
    transition: all 1s;

    &:last-child {
      border: none;
    }

    &:hover a, a.active {
      border-bottom: 1px solid $color;
      text-decoration: none;
    }
  }

  a {
    transition: all 1s;
    text-decoration: none;
    color: $color;
    border-bottom: 1px solid transparent;
  }

  @include breakpoint('mobile-portrait') {
      height: 50px;

      a.brand {
        img {
          height: 40px;
          margin-top: 5px;
          float: left;
        }

        span {
          display: block;
          line-height: 50px;
          margin-left: 50px;
          font-size: 30px;
        }
      }
  }
}
